{%extends "base.html"%}
{% load humanize %}
{%block content%}

<div class="container">
  <div class="row">
    <div class="span12">

    	<center style="margin:10px;"> <a href="{{postear}}}" class="btn btn-danger">Postear estos datos a Ubidots</a></center>
		<table class="table table-bordered table-hover table-condensed">
		  <thead>	
	      <td>Sensor</td>
	      <td>Hora</td>
	      <td>Valor</td>
          </thead>
          
          <tbody>
		  {%for res in resultado%}
		   <tr>
		      <td>{{res.sensor}}</td>
		      <td>{{res.hora}}</td>
		      <td>{{res.valor}}</td>
		   </tr>
		  {%endfor%}
		  </tbody>
		</table>
    </div>
  </div>
</div>
{%endblock%}