{%extends "base.html"%}
{%block content%}
<div class="container">
  <div class="row">
    <div class="span12">

		<div class="hero-unit">
		  <center><h1 style="font-size:300%;">Gran TOTAL: {{resultado}} kWh</h1></center>
		  </br>
		  <center>
		    <a class="btn btn-danger btn-large" href="/resultado_total">
		      Postear a Ubidots
		    </a>

		    <a class="btn btn-primary btn-large" href="http://www.youtube.com/watch?v=P-AYAv0IoWI&t=2m52s" target="_blank">
		      Quiero mas Energia!
		    </a>
		  </center>
		</div>



    </div>
  </div>
</div>
{%endblock content%}